<section>
  <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="checkform" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="text"
          class="form-control form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="username"
        />
        <div *ngIf="name?.errors?.['minlength']">
          <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
            حد اقل 8 کاراکتر
          </div>
        </div>
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div *ngIf="email?.errors?.['email']">
        <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
          فرمت حتما ایمیل باشد
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control form-control" formControlName="password" id="exampleInputPassword1" />
    </div>
    <div *ngIf="password?.errors?.['minlength']">
      <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
        حد اقل 8 کاراکتر
      </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ente Password again</label>
        <input (keyup)="passcheck($event)" type="password" class="form-control form-control" formControlName="repassword" id="exampleInputPassword1" />
      </div>
      <div *ngIf="qp">
        <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
          رمز باید با رمز قبلی برابر باشد
        </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">profile photo</label>
        <input class="form-control" type="file" id="formFile"  placeholder="File" (change)="fileChange($event)"  formControlName="imgfile">
      </div>
      <div *ngIf="file==null">
        <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
          فرمت باید عکس باشد
        </div>
      </div>
      <div [ngSwitch]="stateForm"  class="form-text alert" style="color: rgb(255, 255, 255); text-align: center;">
        <div *ngSwitchCase="0" style="background-color: rgb(150, 33, 33);">شما قبلا ثبت نام کردید</div>
        <div *ngSwitchCase="1" style="background-color: rgb(25, 85, 25);">عملیات موفق</div>
        <div style="visibility: hidden;" *ngSwitchCase=null>salam</div>
      </div>
    <button type="submit" class="btn btn-primary btn-lg"  [disabled]="!checkform.valid">Submit</button>
  </form>
</section>
