.navbar-expand-lg {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #111111 !important;
}
.sidenav {
  direction: rtl;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 0;
  right: 0;
  margin-top: 56px;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px 12px 0 12px;
}
.sidenav-button {
  direction: rtl;
  height: 54px;
  width: 100%;
  display: none;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: #111;
  padding: 7px 0 0 0;
}
.sidenav a,
.sidenav-button a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 240px;
  padding: 80px 0 0 30px;
}
.sidenav a{
  border-radius:50%;
  width: fit-content;
  padding: 12px;
}
.sidenav a:hover{
  animation: a .6s 1 ;
}
@keyframes a {
  0%{
    /* border-left: 2px solid #818181; */
    box-shadow: #818181 0px 0px 1px;

  }
  25%{
    /* border-top: 2px solid #818181; */
    box-shadow: #818181 0px 0px 12px;


  }
  50%{
    /* border-right: 2px solid #818181; */
    box-shadow: #818181 0px 0px 25px;


  }
  75%{
    /* border-bottom: 2px solid #818181; */
    box-shadow: #818181 0px 0px 12px;


  }
  100%{
    /* border-left: 2px solid #818181; */
    box-shadow: #818181 0px 0px 0px;

  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .sidenav-button {
    display: flex;
    font-size: 18;
  }
  .sidenav {
    display: none;
  }
  .sidenav-button a {
    font-size: 18px;
  }

  .main {
    padding: 80px 30px 60px 30px;
    font-size: 24px;
    width: 100%;
  }
}
