<section>
    <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="checkform">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input
            type="text"
            class="form-control form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="username"
          />
          <div *ngIf="username?.errors?.['minlength']">
            <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
              حد اقل 8 کاراکتر
            </div>
          </div>
        </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control form-control" formControlName="password" id="exampleInputPassword1" />
      </div>
      <div *ngIf="password?.errors?.['minlength']">
        <div id="emailHelp" class="form-text" style="color: red;font-weight: bold;">
          حد اقل 8 کاراکتر
        </div>
      </div>
      <a [routerLink]="['/regester']" routerLinkActive="router-link-active"  class="go_regester">ایجاد حساب کاربری</a>
        <div [ngSwitch]="stateForm"  class="form-text alert" style="color: rgb(255, 255, 255); text-align: center;">
          <div *ngSwitchCase="0" style="background-color: rgb(150, 33, 33);">اطلاعات صحیح نمی باشد</div>
          <div *ngSwitchCase="!0" style="background-color: rgb(25, 85, 25);">عملیات موفق</div>
          <div *ngSwitchCase="'noValid'" style="background-color: rgb(207, 218, 5);">اطلاعات فرمت درستی ندارند</div>
          <div style="visibility: hidden;" *ngSwitchCase=null>salam</div>
        </div>
      <button type="submit" class="btn btn-primary btn-lg"  [disabled]="!checkform.valid">Submit</button>
    </form>
  </section>
